* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  overflow: hidden;
}

#slides {
  width: 100vw;
  height: 100vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 60px;
  display: none;
  color: white;
  text-align: center;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.slide.active {
  display: flex;
}

/* ===== STEP (PowerPoint fragment) ===== */
.step {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.step.active {
  opacity: 1;
  transform: translateY(0);
}

/* ===== EFFECTS ===== */
.from-left {
  transform: translateX(-100px);
}

.from-right {
  transform: translateX(100px);
}

.zoom {
  transform: scale(0.5);
}

.step.active.zoom {
  transform: scale(1);
}

/* IMAGE */
img {
  width: 300px;
  border-radius: 10px;
}
